* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v270_5541 {
  width: 602px;
  height: 151px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v270_5542 {
  width: 470px;
  color: rgba(134,134,133,1);
  position: absolute;
  top: 154px;
  left: 43px;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v270_5543 {
  width: 103px;
  height: 42px;
  background: rgba(217, 244, 255, 1);
  position: absolute;
  top: 250px;
  left: 43px;
  border: 1px solid rgba(0,161,222,1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
  float : left;
}
.v270_5544 {
  width: 602px;
  height: 32px;
  background: rgba(0,161,222,1);
  opacity: 1;
  position: absolute;
  top: 449px;
  left: 0px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
  text-align : center
}
.v270_5545 {
  width: 256px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 449px;
  left: 172px;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v270_5546 {
    width: 103px;
    height: 42px;
    background: rgba(217, 244, 255, 1);
    position: absolute;
    top: 250px;
    left: 249px;
    border: 1px solid rgba(0,161,222,1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
    float: left;
}
.v270_5547 {
    width: 103px;
    height: 42px;
    background: rgba(217, 244, 255, 1);
    position: absolute;
    top: 250px;
    left: 146px;
    border: 1px solid rgba(0,161,222,1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
    float: left;
}
.v270_5548 {
    width: 103px;
    height: 42px;
    background: rgba(217, 244, 255, 1);
    position: absolute;
    top: 250px;
    left: 352px;
    border: 1px solid rgba(0,161,222,1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
    float: left;
}
.v270_5549 {
    width: 103px;
    height: 42px;
    background: rgba(217, 244, 255, 1);
    position: absolute;
    top: 250px;
    left: 455px;
    border: 1px solid rgba(0,161,222,1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
}
.v270_5550 {
  width: 74px;
  color: rgba(0,161,222,1);
  position: absolute;
  top: 256px;
  left: 59px;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v270_5551 {
  width: 74px;
  color: rgba(0,161,222,1);
  position: absolute;
  top: 256px;
  left: 265px;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v270_5552 {
  width: 74px;
  color: rgba(0,161,222,1);
  position: absolute;
  top: 256px;
  left: 162px;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v270_5553 {
  width: 74px;
  color: rgba(0,161,222,1);
  position: absolute;
  top: 256px;
  left: 368px;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v270_5554 {
  width: 74px;
  color: rgba(0,161,222,1);
  position: absolute;
  top: 256px;
  left: 471px;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v270_5555 {
  width: 74px;
  color: rgba(0,161,222,1);
  position: absolute;
  top: 256px;
  left: 59px;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v270_5556 {
    width: 103px;
    height: 40px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 292px;
    left: 43px;
    border: 1px solid rgba(235,235,235,1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
    float: left;
}
.v270_5557 {
    width: 103px;
    height: 40px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 292px;
    left: 249px;
    border: 1px solid rgba(235,235,235,1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
    float: left;
}
.v270_5558 {
    width: 103px;
    height: 40px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 292px;
    left: 146px;
    border: 1px solid rgba(235,235,235,1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
    float: left;
}
.v270_5559 {
    width: 103px;
    height: 40px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 292px;
    left: 352px;
    border: 1px solid rgba(235,235,235,1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10000000149011612);
    overflow: hidden;
    float: left;
}
.v270_5560 {
  width: 103px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 455px;
  border: 1px solid rgba(235,235,235,1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v270_5561 {
  width: 69px;
  color: rgba(38,38,38,1);
  position: absolute;
  top: 305px;
  left: 59px;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v270_5562 {
  width: 69px;
  color: rgba(38,38,38,1);
  position: absolute;
  top: 305px;
  left: 265px;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v270_5563 {
  width: 69px;
  color: rgba(38,38,38,1);
  position: absolute;
  top: 305px;
  left: 162px;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v270_5564 {
  width: 69px;
  color: rgba(38,38,38,1);
  position: absolute;
  top: 305px;
  left: 368px;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v270_5565 {
  width: 69px;
  color: rgba(38,38,38,1);
  position: absolute;
  top: 305px;
  left: 471px;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v270_5566 {
  width: 89px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 39px;
  overflow: hidden;
}
